<!-- <launch>
    <node name = "panjang" pkg = "beginner_tutorials" type = "panjang" output = "screen" respawn = "true" />
    <node name = "lebar" pkg = "beginner_tutorials" type = "lebar" output = "screen" respawn = "true" />
    <node name = "tinggi" pkg = "beginner_tutorials" type = "tinggi" output = "screen" respawn = "true" />
    <node name = "volume" pkg = "beginner_tutorials" type = "volume" output = "screen" respawn = "true" />
</launch> -->

<launch>
    <node name = "z_kamera" pkg = "beginner_tutorials" type = "z_kamera" output = "screen" respawn = "true" />
    <node name = "z_pc" pkg = "beginner_tutorials" type = "z_pc" output = "screen" respawn = "true" />
    <node name = "z_motor" pkg = "beginner_tutorials" type = "z_motor" output = "screen" respawn = "true" />
</launch>